<%- include("header") %>
<section>
  <h2>About</h2>
  <p>This app uses Express and EJS.</p>
  <p>Web API: https://api.quotable.io/random</p>
  <p>Node package: @faker-js/faker</p>
</section>
<%- include("footer") %>