<%- include("header") %>
<section>
  <h2>Home</h2>
  <p>This site shows data from a web API and from a Node package.</p>
  <ul>
    <li><a href="/quote">Random quote from API</a></li>
    <li><a href="/users">Fake users from Node package</a></li>
    <li><a href="/combo">Quote and user together</a></li>
  </ul>
</section>
<%- include("footer") %>